---
import PageHeader from '../components/PageHeader.astro';
import Layout from '../layouts/Layout.astro';
import GameList from '../components/GameList.astro';
import Header from '../components/Header.astro';
import { upcomingAPI, todayAPI } from '../config';

let upcomingGames = [];
let todayGames = [];

try {
	const upcoming = await fetch(upcomingAPI);
	const today = await fetch(todayAPI);
	const upcomingData = await upcoming.json();
	const todayData = await today.json();
	upcomingGames = upcomingData.results;
	todayGames = todayData.results;
} catch (error) {
	console.log(error);
}

---

<Layout title="Watch women's sports">
	<main>
		<Header />
		<PageHeader title="Today's Games" />
		<GameList gameList={todayGames} compact={false} showLeague={true} showDate={false} />
		<PageHeader title="Upcoming Games" />
		<GameList gameList={upcomingGames} compact={false} showLeague={true} />
	</main>
</Layout>
