---
import Card from "./Card.astro"; 
  
const upcoming = await fetch('https://api.sheplays.net/api/upcoming/');
const today = await fetch('https://api.sheplays.net/api/today/');
const upcomingData = await upcoming.json();
const todayData = await today.json();
const upcomingGames = upcomingData.results;
const todayGames = todayData.results;
---
<!-- upcomingData fetched at build can be rendered in HTML -->
<div class="two-column">
    <section>
        <h2>Today's Games</h2>
        <ul role="list" class="link-card-grid">
            {todayGames.map((game) => (
                <Card name={game.name} date={game.date_formatted} networks={game.networks} sport={game.sport} league={game.league} />
            ))}
        </ul>
        <!-- if no games -->
        {todayGames.length === 0 && (
            <p class="none-banner">No games today, sadly</p>
        )}
    </section>
    <section>
        <h2>Upcoming Games</h2>
        <ul role="list" class="link-card-grid">
            {upcomingGames.map((game) => (
                <Card name={game.name} date={game.date_formatted} networks={game.networks} sport={game.sport} league={game.league} />
            ))}
        </ul>
    </section>
</div>

<style>
    .two-column {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1.75rem;
		padding: 0;
	}
    .none-banner {
        font-size: .85rem;
        font-weight: 600;
        color: var(--color-text);
        width: 100%;
    }
</style>
